<!-- Fuses front and rear RGB-D upper body detections by simple aggregation. -->
<launch>
    <arg name="common_frame_id" default="base_footprint"/>
    
    <group ns="/spencer/perception_internal/detected_person_association">
        <!-- Convert DetectedPersons topics into CompositeDetectedPersons, and transform poses into common coordinate frame -->
        <node name="convert_to_composite_oak_0" pkg="nodelet" type="nodelet" args="load spencer_detected_person_association/ConvertToCompositeDetectionsNodelet detected_person_association_nodelet_manager" output="screen">
            <remap from="input" to="/spencer/perception_internal/detected_persons/oak_0"/>
            <remap from="output" to="composite/oak_0"/>
            <param name="common_frame_id" value="$(arg common_frame_id)"/>
        </node>

        <node name="convert_to_composite_oak_1" pkg="nodelet" type="nodelet" args="load spencer_detected_person_association/ConvertToCompositeDetectionsNodelet detected_person_association_nodelet_manager" output="screen">
            <remap from="input" to="/spencer/perception_internal/detected_persons/oak_1"/>
            <remap from="output" to="composite/oak_1"/>
            <param name="common_frame_id" value="$(arg common_frame_id)"/>
        </node> 

        <node name="convert_to_composite_oak_2" pkg="nodelet" type="nodelet" args="load spencer_detected_person_association/ConvertToCompositeDetectionsNodelet detected_person_association_nodelet_manager" output="screen">
            <remap from="input" to="/spencer/perception_internal/detected_persons/oak_2"/>
            <remap from="output" to="composite/oak_2"/>
            <param name="common_frame_id" value="$(arg common_frame_id)"/>
        </node> 

        <!-- Aggregate front and rear lasers -->
        <node name="aggregate_oak_detections" pkg="nodelet" type="nodelet" args="load spencer_detected_person_association/AggregateDetectionsNodelet detected_person_association_nodelet_manager" output="screen">
            <rosparam param="input_topics">
                - composite/oak_0
                - composite/oak_1
                - composite/oak_2
            </rosparam>
            <remap from="output" to="composite/oak_aggregated"/>
        </node>

    </group>

</launch>