<launch>

    <!-- TF frame IDs used by some detectors, and tracking components -->
    <arg name="base_footprint_frame_id" default="base_link"/>  <!-- name of the robot's base frame after projection onto the ground plane -->


    <node name="tf_oak_0" pkg="tf" type="static_transform_publisher" args="0 0 0 1.57079632679 0 1.57079632679 $(arg base_footprint_frame_id) oak_0_frame 10"/>
    <node name="tf_oak_1" pkg="tf" type="static_transform_publisher" args="0 0 0 0 1.2 0 oak_0_frame oak_1_frame 10"/>
    <node name="tf_oak_2" pkg="tf" type="static_transform_publisher" args="0 0 0 0 -1.2 0 oak_0_frame oak_2_frame 10"/>
    <!--node name="tf_odom"  pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 odom $(arg base_footprint_frame_id) 10"/-->

</launch>