<launch>
    <!-- Launch file arguments -->
    <arg name="visualization" default="true"/> <!-- start Rviz with predefined configuration? -->
    <arg name="dummy_transforms" default="true"/> <!-- publish TF transform for sensor to groundplane -->


    <!-- TF frame IDs used by some detectors, and tracking components -->
    <arg name="base_footprint_frame_id" default="base_footprint"/>  <!-- name of the robot's base frame after projection onto the ground plane -->
    <arg name="world_frame_id" default="odom"/>  <!-- this is the fixed tracking frame -->

    <!--Launch rosbridge to enable detections from OAK-D devices-->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

    <!-- Set up dummy transforms into an imaginary robot and odom frame -->
    <group if="$(arg dummy_transforms)">
        <node name="tf_oak_1" pkg="tf" type="static_transform_publisher" args="0 0 0 1.57079632679 0 1.57079632679 $(arg base_footprint_frame_id) oak_0_frame 10"/>
        <node name="tf_oak_2" pkg="tf" type="static_transform_publisher" args="-1 0 0 0 0 0 oak_0_frame oak_1_frame 10"/>
        <node name="tf_odom"  pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 odom $(arg base_footprint_frame_id) 10"/>
    </group>


    <!-- People tracking -->
    <include file="$(find development)/launch/freiburg_people_tracking.launch">
        <arg name="rgbd" default="true"/>
        <arg name="laser_low_confidence_detections" default="false"/>
        <arg name="base_footprint_frame_id" value="$(arg base_footprint_frame_id)"/>
        <arg name="world_frame_id" value="$(arg world_frame_id)"/>
    </include>

    <!-- As there is not yet any high-recall/low-confidence detector for RGB-D, and we are not using laser, tracks may get deleted too quickly in case of missed detections.
         To deal with this, for the moment, we increase the maximum number of occluded frames to be  a bit more tolerant towards missed detections.
         This works fine in uncrowded environments which are not very dynamic. -->
    <rosparam param="/spencer/perception_internal/people_tracking/srl_nearest_neighbor_tracker/max_occlusions_before_deletion">50</rosparam>
    <rosparam param="/spencer/perception_internal/people_tracking/srl_nearest_neighbor_tracker/max_occlusions_before_deletion_of_mature_track">200</rosparam>

    <!-- Group tracking -->
    <!--include file="$(find spencer_people_tracking_launch)/launch/tracking/group_tracking.launch"/--> 

    <!-- RViz visualization -->
    <node name="tracking_visualization_rviz" pkg="rviz" type="rviz" args="-d $(find development)/rviz/single_camera_detections.rviz" if="$(arg visualization)"/>

</launch>
